* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head_menu {
    background-color: #333;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
}

.head_menu_list {
    color: #ffffff;
}

.head_menu_list ul {
    list-style-type: none;
    padding: 0;
    font-size: 0;
}

.head_menu_list li {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.head_menu_list a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none; /* リストの下線を削除 */
}

.head_menu_list span, .head_menu_list a	{
    display: block;
    padding: 5px 20px;
    color: white;
    background-color: #333;
    white-space: nowrap;
    line-height: 30px;
    cursor: pointer;
}

.head_menu_list span:hover, .head_menu_list a:hover, .head_menu_list .span_selected	{
    background-color: #00a0c6 !important;
}

.tb_custom_bd th {
    padding: 10px 40px;
    background-color: #e6e6fa;
    border: solid 1px #C0C0C0;
    color: #333333;
}

.tb_custom_bd td {
    background-color: #ffffff;
    border: solid 1px #C0C0C0;
    color: #333333;
}

.tb_custom td {
    padding: 5px;
    border-top: solid 1px #C0C0C0;
    border-bottom: solid 1px #C0C0C0;
    color: #333333;
    word-break: break-all;
}

.max_loss {
    width: 200px;
}

.bar1 {
    display: flex;
    align-items: center;  /* 修正点 *//* 要素を垂直方向に中央揃え */
}

.bar1 h1 {
    width: 140px;
    height: 50px;
    display: flex; /* 修正点 */
    align-items: center; /* 修正点 */
    justify-content: center;    /* 修正点 */ 
    vertical-align: middle;
    font-size: 16px;
    font-weight: normal;
    padding-left: 10px;
    background-color: #6a5acd;
    color: #fff;
}

.wrapper {
    padding: 10px 20px;
}

.button {
    width: 80px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #4b0082;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_area {
    display: flex;
    align-items: center; /* 要素を垂直方向に中央揃え */
}

.DataColumnOrange {
    background-color: white;
    font-size: 10pt;
    height: 35px;
    border: 1px solid #F3B55B;
    padding-left: 3px;
}

.DataColumnEditor {
    background-color: white;
    font-size: 10pt;
    height: 35px;
    border: 1px solid #dc143c;
    padding-left: 3px;
}

.nomal_input_table th {
    padding: 3px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #F3B55B;
    background-color: #fffacd;
}

.nomal_input_table td {
    padding: 8px;
}

.editor_input_table th {
    padding: 3px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #dc143c;
    background-color: #f08080;
}

.editor_input_table td {
    padding: 8px;
}

.tb_custom {
    border-collapse: collapse;
    table-layout: fixed;
}

.ta_l {
    text-align: left;
}

.ta_c {
    text-align: center;
}

.mt_10 {
    margin-top: 10px;
}

.frame {
    padding: 20px;
    background-color: #F8F8F8;
    /* border: solid 1px #C0C0C0; */
}

.fs_12 {
    font-size: 12px;
}

.fs_16 {
    font-size: 16px;
}

.fs_18 {
    font-size: 18px;
}

#sub {
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    width: 300px;
}

#main {
    box-sizing: border-box;
    overflow: hidden;
    float: right;
    width: 68%;
}

/* モーダルStyle */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

.reccomend-modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 12px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}